# Dependencies
node_modules/
dist/
build/
credentials/

# Environment
.env
*.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Uploads (temporary files)
uploads/
credentials/concursos-umg-2020-6e47a7b586f3.json
credentials/concursos-umg-2020-6e47a7b586f3.json
